USE [master]
GO
/****** Object:  Database [HouseRentalDb]    Script Date: 2023/4/24 下午 05:03:33 ******/
CREATE DATABASE [HouseRentalDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HouseRentalDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HouseRentalDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HouseRentalDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HouseRentalDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HouseRentalDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HouseRentalDb]
GO
/****** Object:  Table [dbo].[HouseRentalPost]    Script Date: 2023/4/24 下午 05:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseRentalPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[City] [nvarchar](10) NOT NULL,
	[District] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Price] [decimal](7, 0) NOT NULL,
	[LeaseDuration] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_HouseRentalPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
